/* css3 sass by eddie */
/* css3-border-radius */
/* css3-box-shadow */
/* css3-text-shadow */
/* css3-transition */
/* css3-rotation */
/* text-selection */
.vspace1 {
  height: 1px; }

.vspace2 {
  height: 2px; }

.vspace3 {
  height: 3px; }

.vspace4 {
  height: 4px; }

.vspace5 {
  height: 5px; }

.vspace6 {
  height: 6px; }

.vspace7 {
  height: 7px; }

.vspace8 {
  height: 8px; }

.vspace9 {
  height: 9px; }

.vspace10 {
  height: 10px; }

.vspace11 {
  height: 11px; }

.vspace12 {
  height: 12px; }

.vspace13 {
  height: 13px; }

.vspace14 {
  height: 14px; }

.vspace15 {
  height: 15px; }

.vspace16 {
  height: 16px; }

.vspace17 {
  height: 17px; }

.vspace18 {
  height: 18px; }

.vspace19 {
  height: 19px; }

.vspace20 {
  height: 20px; }

.vspace21 {
  height: 21px; }

.vspace22 {
  height: 22px; }

.vspace23 {
  height: 23px; }

.vspace24 {
  height: 24px; }

.vspace25 {
  height: 25px; }

.vspace26 {
  height: 26px; }

.vspace27 {
  height: 27px; }

.vspace28 {
  height: 28px; }

.vspace29 {
  height: 29px; }

.vspace30 {
  height: 30px; }

.vspace31 {
  height: 31px; }

.vspace32 {
  height: 32px; }

.vspace33 {
  height: 33px; }

.vspace34 {
  height: 34px; }

.vspace35 {
  height: 35px; }

.vspace36 {
  height: 36px; }

.vspace37 {
  height: 37px; }

.vspace38 {
  height: 38px; }

.vspace39 {
  height: 39px; }

.vspace40 {
  height: 40px; }

.vspace41 {
  height: 41px; }

.vspace42 {
  height: 42px; }

.vspace43 {
  height: 43px; }

.vspace44 {
  height: 44px; }

.vspace45 {
  height: 45px; }

.vspace46 {
  height: 46px; }

.vspace47 {
  height: 47px; }

.vspace48 {
  height: 48px; }

.vspace49 {
  height: 49px; }

.vspace50 {
  height: 50px; }

.vspace51 {
  height: 51px; }

.vspace52 {
  height: 52px; }

.vspace53 {
  height: 53px; }

.vspace54 {
  height: 54px; }

.vspace55 {
  height: 55px; }

.vspace56 {
  height: 56px; }

.vspace57 {
  height: 57px; }

.vspace58 {
  height: 58px; }

.vspace59 {
  height: 59px; }

.vspace60 {
  height: 60px; }

.vspace61 {
  height: 61px; }

.vspace62 {
  height: 62px; }

.vspace63 {
  height: 63px; }

.vspace64 {
  height: 64px; }

.vspace65 {
  height: 65px; }

.vspace66 {
  height: 66px; }

.vspace67 {
  height: 67px; }

.vspace68 {
  height: 68px; }

.vspace69 {
  height: 69px; }

.vspace70 {
  height: 70px; }

.vspace71 {
  height: 71px; }

.vspace72 {
  height: 72px; }

.vspace73 {
  height: 73px; }

.vspace74 {
  height: 74px; }

.vspace75 {
  height: 75px; }

.vspace76 {
  height: 76px; }

.vspace77 {
  height: 77px; }

.vspace78 {
  height: 78px; }

.vspace79 {
  height: 79px; }

.vspace80 {
  height: 80px; }

.vspace81 {
  height: 81px; }

.vspace82 {
  height: 82px; }

.vspace83 {
  height: 83px; }

.vspace84 {
  height: 84px; }

.vspace85 {
  height: 85px; }

.vspace86 {
  height: 86px; }

.vspace87 {
  height: 87px; }

.vspace88 {
  height: 88px; }

.vspace89 {
  height: 89px; }

.vspace90 {
  height: 90px; }

.vspace91 {
  height: 91px; }

.vspace92 {
  height: 92px; }

.vspace93 {
  height: 93px; }

.vspace94 {
  height: 94px; }

.vspace95 {
  height: 95px; }

.vspace96 {
  height: 96px; }

.vspace97 {
  height: 97px; }

.vspace98 {
  height: 98px; }

.vspace99 {
  height: 99px; }

.vspace100 {
  height: 100px; }

.vspace101 {
  height: 101px; }

.vspace102 {
  height: 102px; }

.vspace103 {
  height: 103px; }

.vspace104 {
  height: 104px; }

.vspace105 {
  height: 105px; }

.vspace106 {
  height: 106px; }

.vspace107 {
  height: 107px; }

.vspace108 {
  height: 108px; }

.vspace109 {
  height: 109px; }

.vspace110 {
  height: 110px; }

.vspace111 {
  height: 111px; }

.vspace112 {
  height: 112px; }

.vspace113 {
  height: 113px; }

.vspace114 {
  height: 114px; }

.vspace115 {
  height: 115px; }

.vspace116 {
  height: 116px; }

.vspace117 {
  height: 117px; }

.vspace118 {
  height: 118px; }

.vspace119 {
  height: 119px; }

.vspace120 {
  height: 120px; }

.vspace121 {
  height: 121px; }

.vspace122 {
  height: 122px; }

.vspace123 {
  height: 123px; }

.vspace124 {
  height: 124px; }

.vspace125 {
  height: 125px; }

.vspace126 {
  height: 126px; }

.vspace127 {
  height: 127px; }

.vspace128 {
  height: 128px; }

.vspace129 {
  height: 129px; }

.vspace130 {
  height: 130px; }

.vspace131 {
  height: 131px; }

.vspace132 {
  height: 132px; }

.vspace133 {
  height: 133px; }

.vspace134 {
  height: 134px; }

.vspace135 {
  height: 135px; }

.vspace136 {
  height: 136px; }

.vspace137 {
  height: 137px; }

.vspace138 {
  height: 138px; }

.vspace139 {
  height: 139px; }

.vspace140 {
  height: 140px; }

.vspace141 {
  height: 141px; }

.vspace142 {
  height: 142px; }

.vspace143 {
  height: 143px; }

.vspace144 {
  height: 144px; }

.vspace145 {
  height: 145px; }

.vspace146 {
  height: 146px; }

.vspace147 {
  height: 147px; }

.vspace148 {
  height: 148px; }

.vspace149 {
  height: 149px; }

.vspace150 {
  height: 150px; }

.vspace151 {
  height: 151px; }

.vspace152 {
  height: 152px; }

.vspace153 {
  height: 153px; }

.vspace154 {
  height: 154px; }

.vspace155 {
  height: 155px; }

.vspace156 {
  height: 156px; }

.vspace157 {
  height: 157px; }

.vspace158 {
  height: 158px; }

.vspace159 {
  height: 159px; }

.vspace160 {
  height: 160px; }

.clear {
  clear: both; }

.person, .place {
  float: left;
  line-height: 0; }

.circle {
  width: 16px;
  height: 16px;
  margin-top: -7px;
  position: absolute;
  right: 15px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; }

.circle-dblue {
  background-color: #002635; }

.circle-tblue {
  background-color: #013440; }

.circle-red {
  background-color: #ab1a25; }

.circle-orange {
  background-color: #d97925; }

.circle-yellow {
  background-color: #efe7be; }

.image {
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-top: 2px; }

.center-social {
  width: 352px;
  margin: 0 auto; }

.share-green {
  background: -moz-linear-gradient(#3db800, #349802);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, white));
  background: -webkit-linear-gradient(#3db800, #349802);
  background: -o-linear-gradient(#3db800, #349802);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff')";
  background: linear-gradient(#3db800, #349802); }

.share-red {
  background: -moz-linear-gradient(#e41e2d, #c81c29);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, white));
  background: -webkit-linear-gradient(#e41e2d, #c81c29);
  background: -o-linear-gradient(#e41e2d, #c81c29);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff')";
  background: linear-gradient(#e41e2d, #c81c29); }

.share-blue {
  background: -moz-linear-gradient(#3397d9, #2986c4);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, white));
  background: -webkit-linear-gradient(#3397d9, #2986c4);
  background: -o-linear-gradient(#3397d9, #2986c4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff')";
  background: linear-gradient(#3397d9, #2986c4); }

.share-pyellow {
  background: -moz-linear-gradient(#555555, #464646);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, white));
  background: -webkit-linear-gradient(#555555, #464646);
  background: -o-linear-gradient(#555555, #464646);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff')";
  background: linear-gradient(#555555, #464646); }

.share-green, .share-red, .share-blue, .share-pyellow {
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s; }
  .share-green:hover, .share-red:hover, .share-blue:hover, .share-pyellow:hover {
    box-shadow: inset 0px 3px 12px rgba(0, 0, 0, 0.25); }
  .share-green:active, .share-red:active, .share-blue:active, .share-pyellow:active {
    box-shadow: inset 0px 3px 14px rgba(0, 0, 0, 0.65); }

.share-item {
  width: 76px;
  height: 76px;
  cursor: pointer;
  line-height: 36px;
  text-align: center;
  border: 1px solid #999999;
  padding: 0;
  margin: 0;
  float: left;
  margin-left: 10px;
  background-color: #dddddd;
  position: relative;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.6);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .share-item:hover {
    background-color: #eeeeee; }
  .share-item span {
    font-weight: bold;
    color: #eeeeee;
    position: relative;
    z-index: 3;
    -o-text-shadow: 0px 0px 7px black;
    -ms-text-shadow: 0px 0px 7px black;
    -moz-text-shadow: 0px 0px 7px black;
    -webkit-text-shadow: 0px 0px 7px black;
    text-shadow: 0px 0px 7px black; }

.share-item-bg {
  width: 76px;
  height: 76px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  background-repeat: no-repeat;
  opacity: 0.6; }

.link-bg {
  background-image: url("img/link_bg.png");
  background-position: 0px 26px;
  opacity: 0.4; }

.email-bg {
  background-image: url("img/email_bg.png");
  background-position: 0px 22px;
  opacity: 0.8; }

.text-bg {
  background-image: url("img/text_bg.png");
  background-position: 0px 25px; }

.fb-bg {
  background-image: url("img/fb_bg.png");
  background-position: -5px 18px; }
