<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ratchet template page</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Set Apple icons for when prototype is saved to home screen -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/touch-icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/touch-icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="static/touch-icons/apple-touch-icon-57x57.png">

    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/icon.css">
    <!-- Include the compiled Ratchet CSS -->
    <link rel="stylesheet" href="static/ratchet.css">

    <!-- Include the compiled Ratchet JS -->
    <!--<script src="ratchet.js"></script>-->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    
<script type="text/javascript" src="static/assets/js/jquery.js"></script>
<script type="text/javascript" src="static/assets/js/underscore-min.js"></script>
<script type="text/javascript" src="static/assets/js/gmaps.js"></script>
<script type="text/javascript" src="static/assets/js/jquery.cookie.js"></script>

    <!-- Intro paragraph styles. Delete once you start using this page -->
    <style type="text/css">
        .welcome {
          line-height: 1.5;
          color: #555;
        }
        #map{
        	height: 300px;
        }
      
    </style>

  </head>
  <body>

  <!-- Make sure all your bars are the first things in your <body> -->
  <header class="bar-title" style="box-shadow:0px 1px 15px rgba(0,0,0,0.8);">
		<h1 class="title">MitM: [Name]</h1>

  </header>

  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">

		<div id="map"></div>

		<div class="vspace10"></div>

		<div class="share-content" style="text-align:center;">
			<!--
			<style>
				a.button-negative, a.button-main, a.button-positive {
					padding: 12px;
					padding-left:  28px;
					padding-right: 28px;
				}
			</style>
			<a class="button-negative">Email</a>
			<a class="button-main">Facebook Msg</a>
			<a class="button-positive">Text</a>
		-->
		</div><!-- /.share-content -->

		<div class="vspace10"></div>

		<ul class="list inset" style="width: 260px;margin: 0 auto;">
			<li class="list-divider">Joined:</li>

			<li><div class="person">Jonathan Song</div><div class="circle circle-dblue"></div><div class="clear"></div></li>
			<li><div class="person">Grant Losapio</div><div class="circle circle-tblue"></div><div class="clear"></div></li>
			<li><div class="person">William Byun</div><div class="circle circle-red"></div><div class="clear"></div></li>
			<li><div class="person">Derek Bonett</div><div class="circle circle-orange"></div><div class="clear"></div></li>
			<li><div class="person">Eugene Kim</div><div class="circle circle-yellow"></div><div class="clear"></div></li>
		</ul>
		<div class="vspace80"></div>

		<div class="vspace25"></div>

		<nav class="bar-tab" style="height:80px;">
		<div class="center-social" style="width:100%;height:86px;padding-top:5px;position:fixed;box-shadow:0px -2px 7px rgba(0,0,0,0.2);">

			<div style="width:320px;margin:0 auto;">
				<div class="share-item share-pyellow">
					<span>link</span>
					<div class="share-item-bg link-bg"></div>
				</div><!-- /.share-item -->

				<div class="share-item share-red">
					<span>email</span>
					<div class="share-item-bg email-bg"></div>
				</div><!-- /.share-item -->

				<div class="share-item share-green">
					<span>text</span>
					<div class="share-item-bg text-bg"></div>
				</div><!-- /.share-item -->

				<div class="share-item share-blue">
					<span>fb</span>
					<div class="share-item-bg fb-bg"></div>
				</div><!-- /.share-item -->
				<div class="clear"></div>
			<div>
		</div><!-- /.center-social -->
		</nav>

	</div><!-- /.content -->
<script type="text/javascript" src="static/assets/js/main.js"></script>
  </body>
</html>
