<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Meet in the Middle</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    

    <!-- Set Apple icons for when prototype is saved to home screen -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/touch-icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/touch-icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="static/touch-icons/apple-touch-icon-57x57.png">

    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/icon.css">
    <!-- Include the compiled Ratchet CSS -->
    <link rel="stylesheet" href="static/ratchet.css">

    <!-- Include the compiled Ratchet JS -->
    <!--<script src="ratchet.js"></script>-->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    
<script type="text/javascript" src="static/assets/js/jquery.js"></script>
<script type="text/javascript" src="static/assets/js/underscore-min.js"></script>
<script type="text/javascript" src="static/assets/js/gmaps.js"></script>
<script type="text/javascript" src="static/assets/js/jquery.cookie.js"></script>

    <!-- Intro paragraph styles. Delete once you start using this page -->
    <style type="text/css">
        .welcome {
          line-height: 1.5;
          color: #555;
        }
        #map{
        	height: 230px;
        }
      
    </style>

  </head>
  <body>

  <!-- Make sure all your bars are the first things in your <body> -->
  <header class="bar-title" style="box-shadow:0px 1px 15px rgba(0,0,0,0.8);">
		<h1 class="title">MitM: <span id="myname"></span></h1>

  </header>

  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">

		<div id="map"></div>

		<div class="vspace10"></div>

		<div class="share-content" style="text-align:center;">
			<!--
			<style>
				a.button-negative, a.button-main, a.button-positive {
					padding: 12px;
					padding-left:  28px;
					padding-right: 28px;
				}
			</style>
			<a class="button-negative">Email</a>
			<a class="button-main">Facebook Msg</a>
			<a class="button-positive">Text</a>
		-->
		</div><!-- /.share-content -->

		<div class="vspace10"></div>

		<div style="width:277px;margin:0 auto;">
			<input id="link" type="text" style="width:277px;">
			<a href="javascript:mail()" class="button-negative">Email <i class="icon-envelope icon-white"></i></a>
			<a href="sms:" class="button-positive">SMS <i class="icon-comment icon-white"></i></a>
			<a class="button-main">Facebook <i class="icon-book icon-white"></i></a>
		<div>

		<div class="vspace20"></div>

		<ul id="nearby_places_list" class="list inset" style="width: 277px;margin: 0 auto;">
			<li class="list-divider">Nearby Places:</li>
		</ul><!-- /.list /.inset -->

		<div class="vspace10"></div>

		<ul class="list inset" id="userlist" style="width: 277px;margin: 0 auto;">
			<li class="list-divider">Joined:</li>
		</ul><!-- /.list /.inset -->

		<div class="vspace25"></div>

	</div><!-- /.content -->
	<script type="text/javascript" src="static/assets/js/main.js"></script>
	<script type="text/javascript" src="static/assets/js/places.js"></script>
	<script>
    function mail() {
      document.location.href = "mailto:?subject=Meet in the Middle&body=" + window.location.href;
    }
		$.ajax({
			type : 'GET',
			url : '/' + window.location.href.replace(/.*\//, "") + '/places',
			dataType : 'json',
			success : function(data) {
				nearby_places(data);
        $(".place").click(function() {
          $(this).siblings('.image').attr('visibility','visible');
        },
        function() {
          $(this).siblings('.image').attr('visibility','hidden');
        });
			},
			error : function() {
				alert("Invalid server request");
			}
		});
		$("input#link").attr('value',window.location.href);
		function hideAddressBar()
		{
		  if(!window.location.hash)
		  {
		      if(document.height < window.outerHeight)
		      {
		          document.body.style.height = (window.outerHeight + 50) + 'px';
		      }
		
		      setTimeout( function(){ window.scrollTo(0, 1); }, 50 );
		  }
		}
		
		window.addEventListener("load", function(){ if(!window.pageYOffset){ hideAddressBar(); } } );
		window.addEventListener("orientationchange", hideAddressBar );
	</script>
  </body>
</html>
